<% @page_title = "Add Image" %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "upload" %>
<% end %>

<div class="container">
  <div class="row">
  <div class="col-sm-4">
  <h3 style="opacity:.4"><%= link_to "Edit Recipe Info", edit_recipe_path(@recipe) %></h3>
  <h3><%= link_to "Add Photos", new_recipe_upload_path(@recipe) %></h3>
  </div>

  <div class="col-sm-8">
  <%= form_for [@recipe, @upload], html:{multipart: true} do |f| %>
    <div>
      <div>
      <div class="col-sm-12 col-md-8">
        <%= f.cl_image_upload(:image, return_delete_token: true) %>
        <p style="opacity:.4"><i>File Types: jpeg / png / gif<br>Max File-Size 20MB</i></p>
        </p>
        <%= f.submit "Save", :class => 'btn btn-default btn-block top-10' %>
        <div class="top-10">- OR -</div>
        <div id="dropZone" class="top-10">
        <p>Drag/Drop Files Here</p>
        </div>
      </div>
  <% end %>

      <div class="col-xs-12 col-sm-6">
        <div class="status"></div>
        <div class="preview"></div>
      </div>


      </div>
    </div>
  </div>

    <%= cloudinary_js_config %>
  </div>
</div>
<!--
<script>
  $("#new_upload").on("submit", function (e) {
     // e.preventDefault();

     $("input[name='upload[image]']").each(function (index) {
          var inputName = $(this).attr('name');
          var inputNewName =  inputName +'[' + index + ']';
          $(this).attr('name', inputNewName);
          console.log($(this).val(), index)
     });

     // $(this).submit();
  });
</script> -->
